    <!-- {% url 'thanks'%} - конструкция позволяет не пользоваться абсолютными и относительными именами,
        а использовать значение переменной name у маршрута в файле mysite/urls.py
        Поумолчанию используется метод GET.
        При исаользовании метода POST необходимо использовать CSRF_TOKEN для недопущения CSRF уязвимостей
     -->
    <form action="{% url 'thanks'%}" method="POST">
        {% csrf_token %}
        <!--        <label for="name">Имя</label>-->
        <!--        <input type="text" name="name">-->
        <!--        <label for="phone">Телефон</label>-->
        <!--        <input type="text" name="phone">-->
        <!--
        Отрисовываем форму созданную с помощью встроенное класса Forms
        Отобразим форму как параграф {{ form.as_p}} - все элементы с новой строки
        -->
        {{form.as_p}}
        <button type="submit">Отправить</button>
    </form>
    <br/>
    <br/>

    {% if object_list %}
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Name</td>
            <td>Phone</td>
        </tr>
        <!-- Цикл for, object_list передается через функцию объявленную в контроллекре (файл view.py) -->
        {% for obj in object_list %}
        <tr>
            <td>{{obj.id}}</td>
            <td>{{obj.order_dt}}</td>
            <td>{{obj.order_name}}</td>
            <td>{{obj.order_phone}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else  %}
    Нет данных
    {% endif %}
